<button mat-raised-button mat-button color="primary" (click)="goBack()">Return</button>
<form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate>

    <div>
        Name
    </div>
    <input 
        type="text"
        value="{{product.name}}"
        [ngModel]="product.name"
        name="name"
    >
    
    <div>
        Description
    </div>
    <input
        type="text"
        value="{{product.description}}"
        [ngModel]="product.description"
        name="description"
    >
    
    <div>
        Age Restriction
    </div>
    <input
        type="text"
        value="{{product.ageRestriction}}"
        [ngModel]="product.ageRestriction"
        name="ageRestriction"
    >
    
    <div>
        Company
    </div>
    <input
        type="text"
        value="{{product.company}}"
        [ngModel]="product.company"
        name="company"
    >
    
    <div>
        Price
    </div>
    <input 
        type="text"
        value="{{product.price}}"
        [ngModel]="product.price"
        name="price"
    >

    <button mat-raised-button mat-button color="primary" type="submit" class="btnSave" >
        Save
    </button>
</form>