<button mat-raised-button mat-button color="primary" (click)="goBack()">Return</button>
<!-- #form="ngForm" -->
<form [formGroup]="productForm" (ngSubmit)="handleSubmit()">
    <div class="formContainer">
        <div class="formCol1">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input 
                    matInput 
                    type="text" 
                    formControlName="name"
                    placeholder="Name"
                    name="name">
                <mat-error >
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input
                    matInput 
                    type="text"
                    formControlName="description"
                    placeholder="Write a description of the product"
                    name="description">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Age restriction</mat-label>
                <input
                    matInput 
                    type="text"
                    formControlName="ageRestriction"
                    name="ageRestriction">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Company</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="company"
                    placeholder="Which company does this product belongs"
                    name="company">
                <mat-error>
                    Company is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input 
                    matInput
                    type="decimal"
                    formControlName="price"
                    name="price">
                <mat-error >
                    Price is <strong>required</strong>
                </mat-error>
                <mat-error>
                    Price min value is 1
                </mat-error>
            </mat-form-field>
            <button id="btnSave" mat-raised-button mat-button color="primary" type="submit" class="btnSave" [disabled]="shouldBeDisabled"  > 
                Save
            </button>
        </div>
        <div class="formCol2">
            <mat-card class="example-card">
                <img mat-card-image src="{{[productForm.controls['productImg'].value]}}" class="imgProduct">
                <input 
                    type="file" 
                    mat-raised-button 
                    mat-button 
                    color="accent" 
                    class="btnUploadImage" 
                    mat-button 
                    (change)="onFileSelected($event)" 
                    #fileUpload
                    accept="image/jpg, image/png" />
            </mat-card>
        </div>
    </div>
</form>