<div class="column1">
    {{detail.id}}
</div>
    <div class="column2">
    {{detail.name}}
</div>
<div class="column2">
    {{detail.description}}
</div>
<div class="column1">
    {{detail.ageRestriction}}
</div>
<div class="column2">
    {{detail.company}}
</div>
<div class="column1">
    {{detail.price}}
</div>
<div class="column1">
    <button mat-raised-button mat-button color="primary" (click)="goToProduct()">
        View
    </button>
</div>
<div class="column1">
    <button mat-raised-button mat-button color="warn" (click)="deleteProduct()">
        Delete
    </button>
</div>